cement # for command line programs

# tools
git+https://github.com/KarrLab/kinetic_datanator.git#egg=kinetic_datanator-0.1.20[all]
git+https://github.com/KarrLab/random_wc_model_generator.git#egg=random_wc_model_generator-0.0.1[all]
git+https://github.com/KarrLab/wc_kb.git#egg=wc_kb-0.0.1[all]
git+https://github.com/KarrLab/wc_lang.git#egg=wc_lang-0.0.1[all]
git+https://github.com/KarrLab/wc_sim.git#egg=wc_sim-0.0.1[all]

# models
git+https://github.com/KarrLab/h1_hesc.git#egg=h1_hesc-0.0.1[all]
git+https://github.com/KarrLab/mycoplasma_pneumoniae.git#egg=mycoplasma_pneumoniae-0.0.1[all]
