###################################################
#### tools
###################################################

[bpforms]
bpforms[all]

[bcforms]
bcforms[all]

[datanator]
datanator[all]

[obj_tables]
obj_tables[all]

[rand_wc_model_gen]
rand_wc_model_gen[all]

[wc_kb]
wc_kb[all]

[wc_lang]
wc_lang[all]

[wc_sim]
wc_sim[all]


###################################################
#### models
###################################################

[h1_hesc]
h1_hesc[all]

[mycoplasma_pneumoniae]
mycoplasma_pneumoniae[all]
